.about_us_section{
    width: 100%; position: relative; background-image: url(../images/abou_bg.png);  background-size: cover; padding: 10rem 0 3rem;
    .custom_heading{
        margin-bottom: 1.6rem;
        h2{
            padding-bottom: 0; display: inline;
            &:after{
                right: -7.9rem; top: 0; left: auto;
            }
        }
        h3{
            margin-top: -8px;
        }
    }
    .image_avator{
        position: relative; left: calc(-14.5rem - 5.5rem); top: -3.8rem; height: 44.9rem;
    }
    .custom_button{
        margin-top: 3.4rem;
    }
    
}

@media only screen and (max-width:1600px){
    .about_us_section{
        .image_avator{
            height: 41.9rem; left: calc(-14.5rem - 1.5rem);
        }
    }
}

@media only screen and (max-width:1399px){
    .about_us_section{
        .image_avator{
            height: 37.9rem; left: calc(-10.5rem);
        }
    }
}

@media only screen and (max-width:1279px){
    .about_us_section{
        .image_avator{
            height: 32.9rem; left: calc(-3.5rem);
        }
    }
}

@media only screen and (max-width:1023px){
    .about_us_section{
        text-align: center;
        .row{
            justify-content: center;
        }
        .image_avator{
            height: 32.9rem; left: 0; display: inline-block;
        }
        .custom_button{
            display: flex; justify-content: center;
        }
    }
}

@media only screen and (max-width:1366px){
    .about_us_section{
        background-image: url(../images/abou_bg2.png); background-size: auto;
    }
}